@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

:root{
    --clr-primary-design-1: #808080;
    --clr-hover-design-1:#7deba1;
    --clr-text-dark:#181818;
    --clr-shadow:#e2e2e2;
    --clr-text-light:#ffffff;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat' ,sans-serif;
}

html,body{
    width:100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: underline;
    color: var(--clr-text-dark);
}
.wrapper{
    width:75%;
    margin: auto;
    box-shadow: 5px 5px 20px 0px #ccc;
    min-height: 50vh;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-self: center;
}

.section{
    flex:1;
    box-shadow: 0 0 4px 1px #ccc;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: #f5f5f5;
}

.title{
    text-align: center;
    margin-bottom: 2.5rem;
}

.bar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem 0.75rem;
    box-shadow: 0 0 4px 1px var(--clr-shadow);
    padding: 1rem;
}

/* design 1 styles */
.icon-link-design-1{
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease-in all;
}

.icon-link-design-1:hover{
    font-weight: bold;
    box-shadow: 5px 5px 10px 0px var(--clr-shadow);
}

.container-1{
    margin-top: 1.5rem;
    position: relative;
}

.highlight-more{
    margin-top: 1rem;
    padding:1.5rem;
    border-radius: 50%;
    background: var(--clr-hover-design-1);
    position: absolute;
    top: -1.75rem;
}

.highlight-more:hover{
    box-shadow: 5px 5px 10px 0px var(--clr-shadow);
}

@media screen and (max-width:780px){
    .icon-link-design-1{
        margin: 0 0.5rem;
        padding: 0.5rem;
    }
    .highlight-more{
        padding: 0.5rem;
    }
}
